body{
 background: #D1D0CE;
}

/* no pude realizar cambio a fuente con @font-face*/

@font-face {
    font-family: 'lietz_lindauhamburgregular';
    src: url('lietzlindauhamburg-webfont.eot');
    src: url('lietzlindauhamburg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lietzlindauhamburg-webfont.woff') format('woff'),
         url('lietzlindauhamburg-webfont.ttf') format('truetype'),
         url('lietzlindauhamburg-webfont.svg#lietz_lindauhamburgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.cajita{
width: 300px;
height:300px;
border-color:rgb(191,0,0);
border-width: 4px;
background-color:rgb(197,203,194);
padding:30px;
padding-top: 40px;
border-style: solid;
}

.texto_1{

font-size:55px;
font-family: 'Archivo Black', sans-serif;
color:rgb(155,176,97);
text-align:center;
text-transform:capitalize;
line-height: 40px;
font-weight: 800;
margin-left: 20px;
}


.texto_2{

font-size:40px;
font-family: 'Archivo Black', sans-serif;
color:#FFF;
text-align:center;
text-transform:capitalize;
font-weight:400; 
line-height: 40px;
margin-left: 25px;

}

.texto_3{

font-size:40px;
font-family: 'Archivo Black', sans-serif;
color:rgb(41,159,179);
text-align:center;
text-transform:capitalize;
font-weight:bold; 
line-height: 40px;

}

.texto_4{

font-size:60px;
font-family: 'Archivo Black', sans-serif;
color:rgb(229,75,81);
text-align:center;
text-transform:capitalize;
font-weight:bold; 
line-height: 40px;
margin-left: 45px;

}

h2{
font-size:14px;
color:rgb(61,150,171);
font-family: 'Open Sans', sans-serif;
text-align: center;

}

p{

font-size:12px;
color:#000;
font-family: 'Open Sans', sans-serif;
text-align: center;
padding-top: 2px;

}
